@import '../styles/color';

.text-align-center {
  text-align: center;
}

.card {
  width: auto;
  height: 15rem;
  margin: 1rem 0 1rem 1rem;
  padding: .6rem;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.align-card {
  display: inline-block;
  width: 20%;
}

.link {
  display: inline-block;
  padding: .2rem 0;
}

.link a {
  color: $blue;
}
