
@import '../../shared/styles/color';

.header {
  border-bottom: .1rem solid $grey;
}

.header p {
  font-size: 2em;
  margin: 1rem 0rem .5rem 1rem;
}

.topnav {
  overflow: hidden;
  background-color: $white;
}

.topnav p {
  display: inline-block;
}

.topnav a {
  float: right;
  color: $black;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  padding: 1.5rem 1.5rem;
}

.topnav a:hover {
  background-color: $grey;
  color: $black;
}
